@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma+2&display=swap');

/* ----------------------- General */


body {
    background-color: #fff;
    font-family: 'Baloo Tamma 2', cursive;
}

.uppercase {
    text-transform: uppercase;
}

ul{
    list-style-type: none;
}

hr{
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
    
}

.row-style {
    padding-top: 25px;
    padding-bottom: 25px;
}

.img-style {

    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 10%;
}

/* ----------------------- Header */

.container-fluid {
    border-bottom: 25px solid rgb(11,66,175);

}

/* ----------------------- Footer */
footer {
    background-color:rgb(11,66,175);
    min-height: 100px;
    margin: 0;
    color: #fafafa;
}



.social-links li a i {
    width: 45px;
    height: 45px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 25px;
    
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;

}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
}


/* ----------------------- Main */

#carousel-container{
    height: 480px;
    width: 90%;
    padding-left: 50px;
}


#home-services{
    height: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
}



 @media screen and (max-width: 1393px) {

    #home-services {
        width: 65%;
        height: 1400px;
        margin: 0 auto; 
    }
    
  
        hr {
        display: none;
    }

@media screen and (max-width: 943px) {
    
    
    #home-services {
        width: 90%;
        height: 1200px;
        margin: 0 auto; 
    }


   }

  @media screen and (max-width: 800px) {

 
  }

